*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    background-color: rgb(127, 161, 255);
}

.Calendar{
    width: 30%;
    margin: 80px auto;
    background-color: white;
    border: 1px solid;
    height: 350px;
}

.header{
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    height: 50px;
}

.header div{
    display: flex;
    justify-content: space-between;
    color: gray;
    width: 87px;
}

.date{
    color: gray;
    display: flex;
    padding: 10px 20px;
    font-size: 12px;
    justify-content: space-between;
}

.time{
    border-bottom: 1px solid gray;
    padding-bottom: 27px;
}

.time div{
   display: flex;
   padding: 5px 25px;
   height: 30px;
   font-size: 14px;
   margin-top: 3px;
   justify-content: space-between;
}

.gray{
    color: rgb(197, 196, 196, 0.4);
}

.footer{
    display: flex;
    padding: 10px 5px;
    margin-top: 15px;
    justify-content: space-between;
}

.color{
    height: 27px;
    width: 29px;
    border-radius: 9px;
    padding-left: 9px;
    padding-top: 3px;
    color: white;
    margin-bottom: 2px;
    background-color: rgb(207, 107, 71);
}

.orbit{
    width: 30px;
    height: 26px;
    padding: 2px 0 0 3px;
    border-radius: 20px;
}

.one{
    border-color: rgb(202, 98, 60);
}

.two{
    border-color: purple;
}

.three{
    border-color: rgb(185, 93, 60);
    padding-left: 9px;
}

.one sup{
    border: 1px solid;
    background-color: rgb(143, 38, 0);
    position: relative;
    left: 18px;
    padding: 2px;
    bottom: 20px;
    border-radius: 30px;
}

.two sup{
    background-color: purple;
    border: 1px solid;
    left: 18px;
    bottom: 20px;
    padding: 1px;
    border-radius: 20px;
}

































